.parent_home_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    height: 70vh;
    max-height: 1000px;
    width: 100%;
    text-align: center;
    background: url("https://images.unsplash.com/photo-1582266255765-fa5cf1a1d501?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

#home {
    z-index: 1;
    position: absolute;
}

#home h1 {
    font-size: 4rem;
    margin-bottom: 2.5rem;
    font-weight: 900;
    color: ivory;
}

#home h2 {
    margin-top: 1rem;
    /* margin-bottom: 3rem; */
    font-size: 3rem;
    font-weight: 900;
    color: ivory;
}

.home_info{
    color: black ;
    max-width: 1200px;
    margin: 1rem auto;
}

.home_info p{
    margin: 2.5rem 3rem;
    font-size: 1.8rem;
    text-align: left;   
}


.home_info h3{
    margin: 1rem 3rem;
    margin-top: 2rem;
    font-size: 1.8rem;
    text-align: left;
}

.home_info li{
    margin: 0 5rem;
    list-style: circle;
    text-align: left;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.developers{
    margin: 5rem auto;
    max-width: 1200px;
}


.title{
    margin-top: 2rem;
    text-align: center;
}

hr{
    margin: 0 3rem;
}

.dots{
    border: 0;
    border-top: 0.4rem dotted black;
    margin: 1rem 45%;
}

.about_parent_container{
    display: grid;
    grid-template-columns: auto auto;
}

.myself{
    padding: 1rem;
    text-align: center;
    margin: 2rem 1rem 0rem;
}


.myself h1{
    font-size: 2.5rem;    
}

.myself hr{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.myself p{
    font-size: 1.4rem;
    line-height: 2rem;
}

.about_member{
    display: flex;
    justify-content: center;
}



@media only screen and (max-width: 720px){


    .parent_home_container {
        height: 50vh;
    }

    #home h1{
        font-size: 2.1rem;        
        margin-top: 3rem;        
    }
    
    #home h2{
        margin: 0 1rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
        font-size: 1.8rem;
    }

    .home_info p{
        margin: 2rem 2rem;
        font-size: 1.3rem;
    }
    
    
    .home_info h3{
        margin: 1rem 2rem;
        font-size: 1.3rem;
    }
    
    .home_info li{
        margin: 0 2rem;
        font-size: 1rem;
        margin-top: 0.5rem;
    }

}


@media only screen and (max-width: 560px){

    .dots{
        border-top: 0.3rem dotted black;
    }

    .about_parent_container{
        display: grid;
        grid-template-columns: auto;
    }

    .myself{
        padding: 1rem;
        margin: 1rem 1rem;
    }

    .myself h1{
        font-size: 1.5rem;    
    }

    .myself hr{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    
    .myself p{
        font-size: 1rem;
        line-height: 1.5rem;
    }

}

@media only screen and (max-width: 380px){

    #home h1{
        font-size: 1.8rem;        
        margin-top: 1rem;    
        margin-bottom: 1;    
    }
    
    #home h2{
        
        margin-bottom: 0rem;
        font-size: 1.5rem;
    }

}