.dashboard-parent-container {
    /* height: 50vh; */
    padding: 2rem 0;
}

.dashboard-parent-container h1 {
    text-align: center;
}

.scorecard-outer-box {
    width: 70%;
    margin: 0rem auto;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}

.score-box {
    display: inline;
    text-align: center;
}

.score-title {
    font-size: 20px;
}

.score {
    font-size: 30px;
}

.index-score {
    width: 80%;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rates {
    margin: 2rem 0;
    text-align: center;
}

.rates hr {
    width: 50%;
    margin: 0 auto;
}

.rates span {
    display: grid;
    grid-template-columns: 75% 10% 15%;
    text-align: left;
}

.rates span p {
    margin: auto 0;
    padding: 5px;
}

.span-rates {
    width: fit-content;
    margin: 2rem auto;
}

.span-rates hr {
    width: 100%;
}

.chart-section {
    margin: 2rem 1rem;
    padding: 1rem;
}

.chart-section .chart {
    width: 80%;
    margin: 2rem auto;
}

@media screen and (max-width: 550px) {
    .rates span {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 0.5rem;
    }

    .chart-section {
        margin: 2rem 0rem;
        padding: 1rem 0;
    }

    .chart-section .chart {
        width: 80%;
        margin: 2rem auto;
    }
}
