.sub-form-title {
    width: 100%;
    padding: 10px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    color: #555;
    font-weight: 400;
    text-align: center;
    padding: 8px 2px;
    margin: 9px 20px 0;
}
.radio-buttons {
    display: flex;
}
.form-check {
    flex: 0.5;
}

.dashboard-parent-container {
    padding-top: 2rem;
}

.complaintcard-outer-box {
    padding: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
}

.complaint-box {
    display: inline;
    text-align: center;
}

.complaint-title {
    font-size: 20px;
}

.complaint {
    font-size: 30px;
}
